@charset "ISO-8859-1";
body {
        background-image: url('../images/bg.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}
#nav-bar {
        position: sticky;
        top: 0;
        z-index: 10;
        }

.navbar {
        background-image: linear-gradient(to left, red, rgb(136, 48, 48));
        padding: 0 !important;
        height:90px;
        font-family: 'Amatic SC', cursive;
        }

.navbar-brand {
        font-family:'Amatic SC', cursive;
        color: #fff!important;
        font-size: 50px;
        font-weight: bolder;
        }

.navbar-brand i{
        color:black;
        font-size: 50px;
}
.navbar ul{
        font-family: sans-serif;
}
footer {
         /*background-color: #d30909;*/
        background-image: linear-gradient(to left, red, rgb(136, 48, 48));
        color: white;
        padding: 15px;
        
        width: 100%;
        bottom: 0;
        }

form
 {
    border: 3px solid black;
    width:30%;
    padding: 15px;
    margin: auto;  
}
/* Full-width input fields */
input, select{
  width: 100%;
  padding: 10px;
  margin: 5px 0 2px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.box {
    padding-bottom: 10px;
}
.error {
    color: red;
    font-size: 90%;
}
/* Set a style for the submit button */
.registerbtn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width:100%;
  opacity:0.9;
}

.registerbtn:hover {
  opacity: 1;
}
.input-1{
    background-image: url(../images/check.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border:1px solid #01cc40;
}
.input-2{
    background-image: url(../images/cancel.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border:1px solid red;
}
.input-3{
    border:1px solid #01cc40!important;
}
select{
    outline: none!important;
}
.input-4{
    border:1px solid red;
}
label {
    display: block;
    margin-bottom: 5px
}
label i {
    color: #999;
    font-size: 80%;
}
.form-inline {
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 2px;
}
.form-inline label, .form-inline input {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}